.Search[b-oif3aw3v30] {
    margin: 0;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .Search > img[b-oif3aw3v30] {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: clip;
    }

    .Search > div[b-oif3aw3v30] {
        position: absolute;
        z-index: 1;
    }

h1[b-oif3aw3v30] {
    color: #fff;
    font-size: 40px;
}


h2[b-oif3aw3v30] {
    margin: 60px 20px 30px 20px;
    font-size: 47px;
}


.zkZakazniku[b-oif3aw3v30] {
    font-size: 46px;
    margin: 60px auto 30px auto;
}


hr[b-oif3aw3v30] {
    margin: auto auto 30px auto;
    text-align: center;
    width: 80px;
    height: 3px;
    background: orange;
    color: orange;
    border: none;
}

.zkusenosti[b-oif3aw3v30] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 100px;
}

.person[b-oif3aw3v30] {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 15px;
}

    .person > img[b-oif3aw3v30] {
        height: 112px;
        width: 112px;
    }

.review[b-oif3aw3v30] {
    display: flex;
    flex-direction: column;
}

.reviewtxt[b-oif3aw3v30] {
    display: block;
    font-size: 17px;
}

.reviewauth[b-oif3aw3v30] {
    margin-top: 10px;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
}
.range-slider[b-oif3aw3v30] {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected[b-oif3aw3v30] {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: #1b53c0;
}
.range-input[b-oif3aw3v30] {
    position: relative;
}

    .range-input input[b-oif3aw3v30] {
        position: absolute;
        width: 100%;
        height: 5px;
        top: -7px;
        background: none;
        pointer-events: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .range-input input[b-oif3aw3v30]::-webkit-slider-thumb {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 3px solid #1b53c0;
            background-color: #fff;
            pointer-events: auto;
            -webkit-appearance: none;
        }

        .range-input input[b-oif3aw3v30]::-moz-range-thumb {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            border: 3px solid #1b53c0;
            background-color: #fff;
            pointer-events: auto;
            -moz-appearance: none;
        }
range-price[b-oif3aw3v30] {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.range-price label[b-oif3aw3v30] {
    margin-right: 5px;
}

.range-price input[b-oif3aw3v30] {
    width: 40px;
    padding: 5px;
}

    .range-price input:first-of-type[b-oif3aw3v30] {
        margin-right: 15px;
    }