@model Admin
<link rel="stylesheet" href="/css/forms.css">

<partial name="_profile"></partial>

<div>
    <div>
        <form asp-action="SaveUser" method="post" enctype="multipart/form-data">
            <input asp-for="id" type="hidden" />
            <div>
                <label asp-for="username">Username</label>
                <input asp-for="username" value="@ViewBag.User.username"/>
            </div>
            <div>
                <label asp-for="name" >Name</label>
                <input asp-for="name" value="@ViewBag.User.name" />
            </div>
            <div>
                <label asp-for="email">Email</label>
                <input asp-for="email" value="@ViewBag.User.email" type="email" />
            </div>
            <div>
                <label asp-for="tel" >Telephone</label>
                <input asp-for="tel" value="@ViewBag.User.tel" type="tel" />
            </div>
            <div>
                <label for="imageFile">Images</label>
                <input type="file" id="imageFile" name="imageFile" accept=".jpg, .jpeg, .png" />
            </div>

            <div>
                <button type="submit" class="btnSave">SAVE</button>
            </div>
        </form>
    </div>
</div>