<link rel="stylesheet" href="/css/tables.css">
<link rel="stylesheet" href="/css/forms.css">
<partial name="_profile"></partial>

@{
    var labels = ViewBag.Labels as List<Label>;
}
<form asp-action="labelsSave" method="post">
    <div class="labelsList">
        @for (int i = 0; i < labels!.Count; i++)
        {
            <input type="hidden" name="models[@i].id" value="@labels[i].id" />
            <input type="text" name="models[@i].label" value="@labels[i].label" />
        }
    </div>

    <div class="buttonsLabel">
        <a asp-action="labels" asp-route-count="@(ViewBag.count+1)" class="addTextboxButton">
            <i class="bi bi-plus-circle brokerIcon"></i>
        </a>
        <button type="submit" class="addTextboxButton">SAVE</button>
    </div>
</form>




