@model Admin
<link rel="stylesheet" href="/css/loginStyles.css">

@if (TempData["Message"] != null)
{
    <div class="change">@TempData["Message"]</div>
}

<div class="logincontainer">
    <div>
        <form asp-action="Index">
            <div>
                <label asp-for="username">Username</label>
                <input asp-for="username"/>
            </div>

            <div>
                <label asp-for="password" >Password</label>
                <input asp-for="password" type="password"/>
            </div>

            <div>
                <button type="submit">Log In</button>
            </div>
        </form>
        <a asp-action="register" class="txtAlign registerLink">REGISTER NOW</a>
    </div>
</div>


