@model Admin
<link rel="stylesheet" href="/css/loginStyles.css">
<link rel="stylesheet" href="/css/changeButton.css">

@if (TempData["Message"] != null)
{
    <div class="change">@TempData["Message"]</div>
}

<div class="logincontainer">
    <div>
        <form asp-action="UploadRegister">
            <div>
                <label asp-for="username">Username</label>
                <input asp-for="username" />
            </div>

            <div>
                <label asp-for="password">Password</label>
                <input asp-for="password" type="password" />
            </div>

            <div>
                <label asp-for="name">Name</label>
                <input asp-for="name" />
            </div>

            <div>
                <label asp-for="email">Email</label>
                <input asp-for="email" type="email" />
            </div>
            
            <div>
                <label asp-for="tel">Telephone</label>
                <input asp-for="tel" type="tel" />
            </div>

 @*           <div>
                <label asp-for="pfp">pfp</label>
                <input asp-for="pfp" />
            </div>
*@
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</div>


