<div class="profilHdr">
    <a asp-controller="profil" asp-action="index" class="home txtAlign">PROFIL</a>
    @if (!ViewBag.isUser)
    {
        <a asp-controller="profil" asp-action="offers" class="home txtAlign">OFFERS</a>
        if (ViewBag.isAdmin)
        {
            <a asp-controller="profil" asp-action="brokers" class="home txtAlign">BROKERS</a>
            <a asp-controller="profil" asp-action="users" class="home txtAlign">USERS</a>
            <a asp-controller="profil" asp-action="labels" class="home txtAlign">LABELS</a>
        }

    }


</div>