<div class="profilHdr">
    <a asp-controller="profil" asp-action="index" class="home txtAlign">PROFIL</a>
    <a asp-controller="profil" asp-action="offers" class="home txtAlign">OFFERS</a>
    <a asp-controller="profil" asp-action="brokers" class="home txtAlign">BROKERS</a>
    <a asp-controller="profil" asp-action="users" class="home txtAlign">USERS</a>

</div>