<link rel="stylesheet" href="/css/messages.css">
<partial name="_profile"></partial>

    <div class="messages">

        @foreach (Inquiry item in this.ViewBag.Inquiries)
        {
            <a class="oneMessage" asp-action="chat" asp-route-idInquiry="@item.id">
                <div class="pfpAname">
                    <img src="/Images/podklady/admins/jirkakral.jpg" alt="pfp">
                    <div class="usernameDiv">@item.name</div>
                </div>
                <div class="msgADate">
                    <div class="textVal">@this.ViewBag.LastMsg[this.ViewBag.Inquiries.IndexOf(item)].text</div>
                    <div class="textTime">@this.ViewBag.LastMsg[this.ViewBag.Inquiries.IndexOf(item)].time</div>
                </div>

            </a>
        }

    </div>
