.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.oneMessage {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #252525;
    padding: 2px;
    border-radius: 10px;
    background: #f0f0f0;
    text-decoration: none;
    color: black;
    box-shadow: 4px 2px 2px #353935;
}
.messagesHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    border: 2px solid #252525;
    box-shadow: 4px 2px 2px #353935;
}
    .messagesHeader > img {
        flex: 1;
        height: 80px;
        width: 100%;
        border-radius: 50%;
        border: 3px solid #252525;
        padding: 5px;
        margin: 5px 5px 5px 50px;
    }
.messagesHeader > div {
    flex: 9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}
.pfpAname {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .pfpAname img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid #252525;
    }

.usernameDiv {
    text-align: center;
}

.msgADate {
    flex: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textVal {
    flex: 4;
    overflow-wrap: break-word;
}
.textValImg {
    height: 120px;
    width: 100%;
}

.textTime {
    flex: 1;
    width: 100%;
    text-align: right;
    transition: max-height .5s;
    max-height: 0px;
    overflow: clip;
}
.textTimeOnHover {
    max-height: 50px;
}

.messagesChat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #252525;
    box-shadow: 4px 2px 2px #353935;
    background-color: #f0f0f0;
}

.singleMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #252525;
    padding: 8px;
    border-radius: 10px;
    background: lightgray;
    text-decoration: none;
    color: black;
    width: 40%;
    margin: 10px;
    gap: 10px;
}

.othersMsg {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.usersMsg {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.messageForm {
    display: flex;
    flex-direction: row;

    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formMsg {
    display: flex;
    gap: 15px;
    margin: 10px 10%;
}

.msgInput {
    flex: 9;
    display: flex;
    align-items: center;
    height: 40px;
}

.msgSend {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    height: 40px;
}
        .msgSend:hover {
            background-color: #0056b3;
        }